* {
  margin: 0;
}

body {
  background: #ffffdd;
}
nav {
  background-color: #8c2020;
  display: block;
  color: aliceblue;
  height: auto;
  text-align: center;
}
nav > p {
  font-weight: 400;
  font-style: italic;
  font-family: Arial;
}
i {
  color: red;
}

nav .nav__u {
  color: #e98307;
}
.nav__u {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  font-family: Arial;
  display: table-cell;
}

#table,
.tr > td {
  border: 1px solid #808080;
  border-collapse: collapse;
}

.width__20 {
  width: 20%;
}

input[type="radio"] {
  margin: 3px 3px 0 5px;
}
input[type="checkbox"] {
  display: inline;
  margin: 3px 3px 3px 4px;
}
.submit {
  display: flexbox;
  text-align: center;
}

.text__color {
  animation: color-change 1.5s infinite;
}

@keyframes color-change {
  0% {
    color: green;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}

.text__color2 {
  color: #07008d;
  font-weight: bold;
}

button {
  border: 02px solid lightgrey;
  border-radius: 4px;
}
.fa-cloud-upload-alt {
  position: absolute;
  left: 2px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  font-size: 11px;
}
.fa-file {
  color: #6137fb;
  font-size: 17px;
  position: relative;
}

.btn {
  background: #f4f9fc;
  background-image: -webkit-linear-gradient(top, #f4f9fc, #f6f6f6);
  background-image: -moz-linear-gradient(top, #f4f9fc, #f6f6f6);
  background-image: -ms-linear-gradient(top, #f4f9fc, #f6f6f6);
  background-image: -o-linear-gradient(top, #f4f9fc, #f6f6f6);
  background-image: linear-gradient(to bottom, #f4f9fc, #f6f6f6);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #4d4d4d;
  font-size: 14px;
  padding: 1px 3px 2px 3px;
  text-decoration: none;
  font-weight: 600; 
  transition-duration: 0.3s;
}

.btn:hover {
  text-decoration: none;
  transform: scale(1.1);
  margin-left: 10px;
}

hr {
  margin: 10px 0 0 0;
  height: 1px;
  width: auto;
  background-color: #4d4d4d;
}

footer {
  height: 25px;
}
